
<h1>Sign up for a new employee</h1>
<% @employee.password = @employee.password_confirmation = nil %>

<%= error_messages_for :employee %>
<% form_for :employee, :url => employees_path do |f| -%>
<p><%= f.label :login %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :password %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= f.label :first_name %><br/>
<%= f.text_field :first_name %></p>

<p><%= f.label :last_name %><br/>
<%= f.text_field :last_name %></p>

<p><%= f.label :designation %><br/>
<%= f.select :designation_id, find_all_designations.collect{|d|[d.designation_type, d.id]} %></p>

<p><%= f.label :gender %><br/>
<%= f.radio_button(:gender, :m) %>
<%= f.label :gender, "Male" %>
<%= f.radio_button(:gender, :f) %>
<%= f.label :female, "Female" %></p>

<p><%= f.label :leave_approving_manager %>:
<%= f.select :manager_id, find_approving_managers.collect{|e|[e.employee_code+" "+e.first_name+" "+e.last_name,e.id]} %></p>

<p><%= f.label :is_approving_manager? %><br/>
<%= f.radio_button(:approving_manager, true) %>
<%= f.label :yes, "Yes" %>
<%= f.radio_button(:approving_manager, false) %>
<%= f.label :no, "No" %></p>

<p>
<%= f.label :is_admin? %><br />
<%= f.radio_button(:is_admin, "true") %>
<%= f.label :yes %>
<%= f.radio_button(:is_admin, "false") %>
<%= f.label :no %>
</p>

<p><%= f.label :joining_date %><br/>
<%= f.date_select :joining_date %></p>

<p><%= submit_tag 'Register' %></p>
<% end -%>
