<h1>Sign up for a new employee</h1>
<% @employee.password = @employee.password_confirmation = nil %>

<%= error_messages_for :employee %>
<% form_for :employee, :url => employees_path do |f| -%>
<p><%= f.label :login %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :password %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= f.label :first_name %><br/>
<%= f.text_field :first_name %></p>

<p><%= f.label :last_name %><br/>
<%= f.text_field :last_name %></p>

<p><%= f.label :designation %><br/>
<%= f.text_field :designation %></p>

<p><%= f.label :joining_date %><br/>
<%= f.date_select :joining_date %></p>

<p><%= submit_tag 'Register' %></p>
<% end -%>
