<h1>Listing designations</h1>

<table>
  <tr>
    <th>Type</th>
  </tr>

<% @designations.each do |designation| %>
  <tr>
    <td><%=h designation.designation_type %></td>
    <td><%= link_to 'Show', designation %></td>
    <td><%= link_to 'Edit', edit_designation_path(designation) %></td>
    <td><%= link_to 'Destroy', designation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New designation', new_designation_path %>