<h1>New designation</h1>

<% form_for(@designation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :designation_type %><br />
    <%= f.text_field :designation_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', designations_path %>