<tr>
	<td><%= form.employee.full_name %></td>
	<td><%= form.employee.employee_code %></td>
	<td><%= form.from_date %></td>
	<td><%= form.to_date %></td>
	<td><%= submit_tag('Approve')%></td>
	<td><%= submit_tag('Reject')%></td>
</tr>	