<h1>Listing applied_offs</h1>

<table>
  <tr>
    <th>From date</th>
    <th>To date</th>
  </tr>

<% @applied_offs.each do |applied_off| %>
  <tr>
    <td><%=h applied_off.from_date %></td>
    <td><%=h applied_off.to_date %></td>
    <td><%= link_to 'Show', employee_applied_off_path(@employee,applied_off), :method => :get %></td>
    <td><%= link_to 'Destroy', employee_applied_off_path(@employee,applied_off), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New applied_off', new_employee_applied_off_path %>