<h1>New leave</h1>

<% form_for(:applied_off, :url => employee_applied_offs_path,:method => :post) do |f| %>
<%= f.error_messages %>

  <p>
   <%= f.label :leave_type %><br />
   <%= f.select :available_off_id, fetch_available_leaves(current_employee) %>
  </p>
  <p>
    <%= f.label :from_date %><br />
    <%= f.datetime_select :from_date %>
  </p>
  <p>
    <%= f.label :to_date %><br />
    <%= f.datetime_select :to_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', employee_applied_offs_path %>