Welcome, <b><%= @employee.full_name %></b>
<!--
<%= link_to(image_tag(@employee.image.public_filename(:small)), employee_image_path(@employee)) if @employee.image%> </p>
-->
<!-- IMAGE HERE-->

<p>Check your <%= link_to('Available leaves', employee_available_offs_path(@employee))%></p>
<p>Apply for a <%= link_to('leave', new_employee_applied_off_path(@employee)) %></p>
<!-- UPLOAD IMAGE LINK GOES HERE -->

<hr />

<p>
<% if @employee.approving_manager  %>
<p>Applied leaves:</p>
 <table cellspacing=21>
 	<th>Full name</th>
	<th>Employee code</th>
	<th>From date</th>
	<th>To date</th>
	<th>No of days</th>
  <% for form in @applied_offs %>
   <% form_tag(:controller => 'applied_offs', :action => 'update_status',:id => form.id) do %>
    <div id='show_leaves'>
     <%= render :partial => 'applied_offs/form', :object => form %>
    </div> 
   <% end %>
  <% end %>
 </table>
<% end %>