<p>
  <b>Policy Type:</b>
  <%=h @available_off.leave_policy.policy_type %>
</p>

<p>
  <b>Full Name:</b>
  <%=h @available_off.employee.full_name %>
</p>

<p>
  <b>No of days:</b>
  <%=h @available_off.no_of_days %>
</p>

<p>
  <b>Year:</b>
  <%=h @available_off.year %>
</p>


<%= link_to 'Edit', edit_employee_available_off_path(@employee) %> |
<%= link_to 'Destroy', employee_available_off_path, :confirm => "Are you sure?", :method => :delete %> |
<%= link_to 'Back', employee_available_offs_path %>